/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ffcc00;
  --f7-theme-color-rgb: 247, 247, 247;
  --f7-theme-color-shade: #ffffff;
  --f7-theme-color-tint: #b34545;
}

/* Your app custom styles here */

.toolbar .tabLinkActive {
  color: yellow;
}

.login--nav {
  color: #ffcc00;
}

.login--nav .back {
  color: #ffcc00;
  padding-left: 2px;
}

.login--forgot {
  color: #ffcc00;
  text-align: right;
}

.meal--title {
  color: #ffcc00;
}

.meal__list ul{
  background: none;
  margin-top: -20px;
}

.meal--list-item {
  background: #fff;
  border-bottom: none;
  margin-bottom: 10px;
}

.meal--list-item .item-header {
  margin-bottom: 10px;
}

.meal--list-item .item-footer {
  margin-top: 15px;
}


.meal--list-item .item-inner:after {
  background: none;
}

.meal--list-item .badge {
  border-radius: 4px;
  position: relative;
  top: -25px;
}

.meal--back-icon {
  color: yellow;
}